<article class="listing">
  <img src="{{animal.image}}" alt="">
  <h3>{{animal.name}}</h3>
  <div class="detail type">
    <span>Tipo:</span> {{animal.type}}
  </div>
  <div class="detail city">
    <span>Ciudad:</span> {{animal.city}}
  </div>
</article>
{{yield}}
